
/* Colors
Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
}

body {
  background-color: #2B2733;
}

.icon {
  width: 30px;
  height: 30px;
}

header {
  background-color: #46424D;
}

h1 {
  color: #FFF;
  text-align: center;
  margin: 0;
  padding: .8em;
  font-size: 1.2em;
  letter-spacing: 1px;
}

h2 {
  color: #CBC9CF;
  margin-left: 1em;
}

h3 {
  color: #FFF;
}

section {
  background-color: #46424D;
  padding: 2em 2em 1em 2em;
  margin: 1em;
  border-radius: .5em;
}

.card-text {
  color: #FFF;
}

.activity-button {
  width: 150px;
  height: 80px;
  background-color: transparent;
  color: #FFF;
  border: solid 1px #FFF;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: .2em;
}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}

form {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    color: #CBC9CF;
 }


.intention-question {
  grid-area: 1 / 1 / 2 / 3;
}

.intention-answer{
  grid-area: 2 / 1 / 3 / 3;
}

.minutes {
  grid-area: 3 / 1 / 4 / 2;
}

.seconds {
  grid-area: 3 / 2 / 4 / 3;
}

.minutes-input{
  grid-area: 4 / 1 / 5 / 2;
}

.seconds-input {
  grid-area: 4 / 2 / 5 / 3;
}

.start-activity-button {
  grid-area: 5 / 2 / 6 / 3;
  width: 15em;
  height: 2.4em;
  justify-self: end;

}

.input {
  background-color: transparent;
  border-style: none;
  border-bottom: 2px solid #CBC9CF;
  margin-bottom: .4em;
}

    /*set height, probably not set width*/
p {
  color: #CBC9CF;
  font-size: .8em;
}

.hide {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-row: 100%;
}

.display {
  grid-area: 1/ 1 / 1 / 2;
}

aside {
  grid-column: 1 /2 / 1/ 3;
  border-left: 2px solid #46424D;
}

.no-activities-message {
  font-size: .8em;
  text-align: center;
  line-height: 2em;
  margin: 0 50px 0 50px;
}

.past-activity-card {
  background-color: #46424D;
  display: grid;
  margin: 1em;
  padding: 1em;
  border-radius: .5em;
  grid-template: 90% 10%;
  grid-row: 1fr 1fr 1fr;
  border-radius: .5em;
}

.activity-color-tag {
  width: .2em;
  height: 2em;
  background-color: #C278FD;
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  justify-self: end;
  border-radius: .1em;
}

.past-activity {
  font-weight: bold;
  margin: 0;
}

.past-time {
  margin: 0;
}

.past-intention {
  margin: 5px 0 5px 0;
}

.timer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #46424D;
  border-radius: 4px;
  border-radius: .5em;
  box-shadow: 20px 20px 50px 10px #26222D;
  flex: 2;
  height: 600px;
  padding-top: 40px;
  position: relative;
  text-align: center;
  font-size: 20px;
}

.timer-button {
  background-color: #46424D;
  border-radius: 50%;
  border: 1px solid #FFF;
  color: #FFF;
  cursor: pointer;
  float: none;
  height: 200px;
  width: 200px;
  font-size: 25px;
}

.timer-text {
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 75px;
  font-weight: bold;
  margin: 0 auto;
}

.log-activity-button {
  cursor: pointer;
  float: none;
  margin: 40px auto 0px auto;
  grid-area: 5 / 2 / 6 / 3;
  width: 15em;
  height: 2.4em;
  justify-self: end;
}

.new-activity-button {
  cursor: pointer;
  float: none;
  margin: 40px auto 0px auto;
  grid-area: 5 / 2 / 6 / 3;
  width: 15em;
  height: 2.4em;
  justify-self: end;
}

@media only screen and (max-width: 550px) {

  main {
    display: flex;
    flex-direction: column;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .activity-button {
    width: 150px;
    height: 40px;
    margin: .5em;
    background-color: transparent;
    color: #FFF;
    border: solid 1px #FFF;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    justify-self: center;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
  }

}
    /*set height, probably not set width
>>>>>>> master
